.note {
  height: 180px;
  padding: 20px 30px 10px 10px;
  border-radius: 6px;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  position: relative;

  transition: transform .3s;
  animation: load 0.5s;
}

.note:active {
  transform: scale(0.9);
}

.text {
  max-height: 110px;
  overflow: auto;
  color: var(--color-text);
}

.area {
  max-height: 110px;
  height: 100%;
  overflow: auto;
  color: var(--color-text);
  font-size: inherit;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  font-family: inherit;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border-radius: 50%;

  color: var(--color-background);
  margin-top: auto;
  align-self: flex-end;
  position: absolute;

  bottom: 10px;
  right: 10px;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border-radius: 50%;
  position: absolute;
  color: var(--color-background);
  bottom: 10px;
  right: 10px;

  animation: spin 0.5s;
}

.edit-mode {
  opacity: 0.8;
  pointer-events: none;
}

.important {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--color-text);
  border-radius: 50%;
  color: #ffce05;

  position: absolute;
  top: 10px;
  right: 10px;
}

.point {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--color-danger);
  border: 5px solid transparent;
  outline: 2px solid var(--color-danger);
  position: absolute;
  top: -10px;
  right: -10px;
  outline-offset: 3px;
  animation: load .3s;
}

.waiting {
  animation: waiting .5s infinite ease-in;
}

@keyframes waiting {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes load {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}