.loader {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-left-color: #fe9b72;
  animation: spin 1s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}