.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submit {
  background-color: var(--color-note-2);
  padding: 10px 20px;
  font-size: 18px;
  color: var(--color-background);
  font-weight: 600;
  border-radius: 6px;
  align-self: flex-start;
}

.input:disabled,
.textarea:disabled,
.submit:disabled {
  opacity: 0.8;
  pointer-events: none;
}

.colors {
  display: flex;
  gap: 15px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.active {
  border: 3px solid var(--color-text);
}

.label {
  font-size: 21px;
  font-weight: 600;
}

.textarea,
.input {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 8px;
}

.textarea::placeholder,
.input::placeholder {
  color: var(--color-placeholder);
}