.task {
  background-color: #232323;
  border-radius: 6px;
  border: 1px solid #707070;
  min-height: 150px;
}

.description {
  font-size: 14px;
  opacity: 0.9;
  margin-top: 10px;
}

.link {
  padding: 10px 20px;
  display: inline-block;
  height: 100%;
}