.not-found {
  font-size: 21px;
  text-align: center;
  margin-top: 40px;
  background-color: #ff9b72;
  padding: 10px 0;
  font-weight: 700;
  color: var(--color-background);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 16px;
  margin-left: 20px;
  padding: 3px 6px;
  color: #ff9b72;
  background-color: var(--color-background);
  font-weight: 700;
  border-radius: 4px;
}