:root {
  --color-text: #151515;
  --color-background: #ffffff;
  --color-placeholder: #c9c9c9;

  --color-note-1: #fec971;
  --color-note-2: #fe9b72;
  --color-note-3: #b693fd;
  --color-note-4: #00d4fe;
  --color-note-5: #e4ef8f;

  --color-star: #fdce01;
  --color-border: #e8ebee;
  --color-danger: #fe7272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--color-text);
  line-height: 1.2;
  background-color: var(--color-background);
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

#root {
  display: flex;
  width: 100%;
}